@import url('bootstrap-icons');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: 'Montserrat Variable', sans-serif;
  background-color: rgb(231, 231, 231);
}



button
{
  border: none;
  padding: 0.5rem 1rem;

}

button.active
{
  background-color: gold;
  color: black;
}

button
{
  background-color: rgb(86, 86, 252);
  color: white;
}

/* Header */
header
{
  padding: 0.5rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.collapsed {
  position: fixed;
  max-width: 80%;
  padding: 1rem;
  top: 50px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

/* Main */
main
{
  margin-top: 3rem;
}

.tabs
{
  display: flex;
  align-items: start;
  gap: 1rem;

  nav
  {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.25rem;
    flex-shrink: 0;
  }
}


